//
// Category list base
///////////////////////

.category-list {
  margin-top: 130px;

  @media only screen and (max-width: 768px) {
    margin-top: 60px;
  }

  .category {
    display: inline-block;
    float: left;
    margin-bottom: 75px;
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;

    &:nth-child(2) {
      margin-top: -21.5px;
    }

    &:nth-child(6) {
      margin-left: 12.5%;
    }

    @media only screen and (max-width: 860px) {
      width: 33%;

      &:nth-child(2) {
        margin-top: -18px;
      }

      &:nth-child(6) {
        margin-left: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 15px;

      &:nth-child(2) {
        margin-top: 0;
      }

      img {
        display: none;
      }
    }
  }
}

.category .articles {
  clear: both;
  height: 1px;
}