//
// Books button
///////////////////////////

body.fl-builder .fl-builder-content .home-book-row a.fl-button {
  background-color: $white !important;
  @include rem( font-size, 36px );
  line-height: 1.0;
  padding: 15px 10px;
  text-transform: uppercase;
  width: 315px;
  max-width: 100%;

  * {
    color: $orange !important;
  }

  &:hover,
  &:focus {
    * {
      color: $dark-blue !important;
    }
  }
}