/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings--font-family;
  font-weight: $headings--font-weight;
  letter-spacing: $headings--letter-spacing;
  line-height: $headings--line-height;
  margin: 0 0 10px;
}

h1 {
  font-family: $h1--font-family;
  @include rem( font-size, $h1--font-size );
  font-weight: $h1--font-weight;
  letter-spacing: $h1--letter-spacing;
  line-height: $h1--line-height;
}

h2 {
  font-family: $h2--font-family;
  @include rem( font-size, $h2--font-size );
  font-weight: $h2--font-weight;
  letter-spacing: $h2--letter-spacing;
  line-height: $h2--line-height;

  @media only screen and (max-width: 768px) {
    @include rem( font-size, 46px );
  }

  @media only screen and (max-width: 600px) {
    @include rem( font-size, 38px );
  }

  @media only screen and (max-width: 450px) {
    @include rem( font-size, 32px );
  }
}

.entry-content h2 {
  font-family: $base--font-family;
  @include rem( font-size, 29px );
  font-weight: 400;
  font-style: italic;
  margin-bottom: 48px;

  @media only screen and (max-width: 600px) {
    @include rem( font-size, 27px );
  }

  @media only screen and (max-width: 450px) {
    @include rem( font-size, 23px );
  }
}

h3 {
  font-family: $h3--font-family;
  @include rem( font-size, $h3--font-size );
  font-style: italic;
  font-weight: $h3--font-weight;
  letter-spacing: $h3--letter-spacing;
  line-height: $h3--line-height;
}

.entry-content h3 {
  font-family: $base--font-family;
  @include rem( font-size, 23px );
  font-style: normal;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 48px;

  @media only screen and (max-width: 450px) {
    @include rem( font-size, 21px );
  }
}

h4 {
  font-family: $h4--font-family;
  @include rem( font-size, $h4--font-size );
  font-weight: $h4--font-weight;
  letter-spacing: $h4--letter-spacing;
  line-height: $h4--line-height;
}

.entry-content h4 {
  font-family: $base--font-family;
  @include rem( font-size, 20px );
  line-height: 2;
  margin-bottom: 48px;

  @media only screen and (max-width: 450px) {
    @include rem( font-size, 18px );
  }
}

h5 {
  font-family: $h5--font-family;
  @include rem( font-size, $h5--font-size );
  font-weight: $h5--font-weight;
  letter-spacing: $h5--letter-spacing;
  line-height: $h5--line-height;
}

h6 {
  font-family: $h6--font-family;
  @include rem( font-size, $h6--font-size );
  font-weight: $h6--font-weight;
  letter-spacing: $h6--letter-spacing;
  line-height: $h6--line-height;
}