/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;

  @media only screen and (max-width: 860px) {
    margin: 5% auto;
  }
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  padding-left: 40px;
  padding-right: 40px;

  li {
    display: inline;

    @media only screen and (max-width: 860px) {
      a {
        margin-bottom: 4px;
      }
    }
  }

  a {
    background-color: $pagination--background-color;
    color: $pagination--link-color;
    cursor: pointer;
    display: inline-block;
    font-family: $secondary-font-family;
    @include rem( font-size, 20px );
    font-weight: $pagination--font-weight;
    padding: 7px 20px 6px;
    text-decoration: none;
    width: 133px;

    &:hover,
    &:focus,
    .active & {
      background-color: $orange;
      color: $pagination--link-hover-color;
    }
  }

  .pagination-next {
    text-align: right;
  }

  .pagination-previous {
    text-align: left;
    margin-left: 23px;

    &.alignleft {
      float: right;
    }

    @media only screen and (max-width: 400px) {
      margin-bottom: 10px;
    }
  }
}