/* ## Primary navigation
--------------------------------------------- */

.nav-primary {
  background-color: $primary-nav--background-color;

  .wrap {
    padding: 0;
  }

  .genesis-nav-menu {
    clear: none;
    width: auto;
    float: right;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

    @media only screen and (max-width: $medium-screen) {
      border: 1px solid $black;
      float: none;
      padding: 10px 20px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1025px) {

  .title-area .nav-primary .genesis-nav-menu {
    float: none;
  }

}