/* ## Site description
--------------------------------------------- */

.site-description {
  @include rem( font-size, $site-description--font-size );
  font-weight: $site-description--font-weight;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;

  .header-image & {
    display: block;
    text-indent: -9999px;
  }

  @media only screen and (max-width: $medium-screen) {
    text-align: center;
  }
}