//
// Featured book image
//////////////////////

.featured-book {
  .fl-photo-content {
    margin-left: 12%;
  }

  img {
    width: 440px;
    max-width: 100%;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}