//
// Entry title
//====================

.entry-title {
  @include rem( font-size, $entry-title--font-size );

  @media only screen and (max-width: 768px) {
    @include rem( font-size, 24px );
  }

  a {
    color: $entry-title--link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $entry-title--link-hover-color;
    }
  }
}
