/* # Footer Disclaimer
---------------------------------------------------------------------------------------------------- */

.footer-bottom-widget {
  background-color: $light-gray;
  color: $gray;
  font-style: italic;
  @include rem( font-size, 16px );
  text-align: center;

  @media only screen and (max-width: 600px) {
    @include rem( font-size, 14px );
  }

  .widget {
    margin-bottom: 30px;
  }
}