//
// Post featured image
/////////////////////

.exercise-library-posts .fl-post-grid-image {
  min-height: 245px;

  @media only screen and (max-width:  1080px) {
    min-height: 216px;
  }

  @media only screen and (max-width:  768px) {
    min-height: 247px;
  }

  @media only screen and (max-width: 660px) {
    min-height: 0;
  }
}