//
// Typography variables
//=================================

$rem-fallback: true;


// Base typography
$rem-baseline: 10px;
$html--font-size: 62.5%;

$base--font-family: Georgia, serif;
$base--font-size: 16px;
$base--font-size--small-screen: 16px;
$base--line-height: 1.625;
$base__div--font-size: 2em;
$base__div--font-size--small-screen: 1.6rem;

$secondary-font-family: 'Montserrat', sans-serif; // 400, semi bold, bold, super thin (sidebar form fields)


// Headings
$headings--font-family: $secondary-font-family;
$headings--font-weight: 700;
$headings--letter-spacing: 0;
$headings--line-height: 1.2;

$h1--font-family: $headings--font-family;
$h1--font-weight: $headings--font-weight;
$h1--font-size: 36px;
$h1--letter-spacing: $headings--letter-spacing;
$h1--line-height: $headings--line-height;

$h2--font-family: $headings--font-family;
$h2--font-weight: $headings--font-weight;
$h2--font-size: 44px;
$h2--letter-spacing: $headings--letter-spacing;
$h2--line-height: $headings--line-height;

$h3--font-family: $base--font-family;
$h3--font-weight: 400;
$h3--font-size: 27px;
$h3--letter-spacing: $headings--letter-spacing;
$h3--line-height: 1.4;

$h4--font-family: $headings--font-family;
$h4--font-weight: $headings--font-weight;
$h4--font-size: 20px;
$h4--letter-spacing: $headings--letter-spacing;
$h4--line-height: $headings--line-height;

$h5--font-family: $headings--font-family;
$h5--font-weight: $headings--font-weight;
$h5--font-size: 18px;
$h5--letter-spacing: $headings--letter-spacing;
$h5--line-height: $headings--line-height;

$h6--font-family: $headings--font-family;
$h6--font-weight: $headings--font-weight;
$h6--font-size: 16px;
$h6--letter-spacing: $headings--letter-spacing;
$h6--line-height: $headings--line-height;


// Elements
$blockquote--font-size: 30px;


// Form elements
$input--font-size: 16px;
$input--font-weight: 400;


// Buttons
$button--font-size: 28px;


// Header
$site-title--font-size: 30px;
$site-title--font-weight: 700;

$site-description--font-size: 16px;
$site-description--font-weight: 400;

$site-banner--font-size: 18px;


// Navigation
$nav--font-size: 20px;
$nav--font-weight: 400;
$submenu--font-size: 16px;
$pagination--font-size: 20px;
$pagination--font-weight: 400;


// Entry Content
$entry-meta--font-size: 16px;
$entry-header__entry-meta--font-size: 16px;
$entry-footer__entry-meta--font-size: 16px;

$entry-title--font-size: 30px;


// Comments
$comments--font-size: 16px;


// Widgets
$widget-title--font-size: 36px;

$featured-content__entry-title--font-size: 25px;


// General Components
$author-box--font-size: 18px;
$author-box__title--font-size: 20px;
$breadrumb--font-size: 16px;
$after-entry--font-size: 18px;
$archive-title--font-size: 18px;
$archive-description--font-size: 18px;


// Footer
$site-footer--font-size: 18px;
$footer-widgets--font-size: 18px;


//*** Plugins

// Genesis eNews Extended
$enews--font-size: 18px;


// WooCommerce
$wc__price-slider-button--font-size: 16px;
$wc__recent-reviews-review--font-size: 12px;
$wc__account-address-title--font-size: 26px;
$wc__cart-table-cell--font-size: 18px;
$wc__cart-table-coupon-input--font-size: 18px;
$wc__form-quantity--font-size: 20px;
$wc__pagination-link--font-size: 16px;