
/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-both-sidebars-wrap--width;

    @media only screen and (max-width: $larger-screen) {
      width: $content-both-sidebars-wrap--width-larger-screen;
    }

    @media only screen and (max-width: $large-screen) {
      width: $content-both-sidebars-wrap--width-large-screen;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}